@import '../../../../styles/_breakpoints';
@import '../../../../styles/_colors';

.Contact {
    background: url('../../../../images/gallery/coffee/coffee_main.jpg') top center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 15vh 2rem;
}

.Contact-content {
    background: map-get($colors, 'transparent-dark');
    border-radius: .25rem;
    padding: 1rem;

    @media (min-width: $breakpoint-sm) {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .content-block {
        padding: 1rem 0;
        min-width: 16rem;
        text-align: center;

        @media (min-width: $breakpoint-sm) {
            padding: 0 2rem;
        }

        p {
            margin: .5rem 0;
        }
    
        img {
            max-width: 12rem;
        }
    }
}
