@import '../../../styles/_colors';

.Modal-backdrop {
    align-items: center;
    background: map-get($colors, 'transparent-dark');
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.Modal-content {
    border-radius: .5rem;
    border-style: solid;
    border-width: 1px;
    padding: 1rem;
    position: relative;

    .Modal-close {
        background: map-get($colors, 'lightbrown');
        border-radius: 50%;
        cursor: pointer;
        padding: 0 .35em;
        position: absolute;
        top: -.5em;
        right: -2em;
    }
}
