<div class="p2">

    <div class="container">
        <div class="m1">
            <h2 class="h1">Gallery</h2>
        </div>

        <div 
            class="my4 rounded border border-lighterbrown overflow-hidden" 
            ng-repeat="category in gallery">
            
            <div class="bg-cover bg-center" style="background-image: url({{ category.main_image }}); height: 300px"></div>

            <div class="bg-darkbrown overflow-hidden">
                <h3 class="h1 ml1">{{ category.title }}</h3>
                
                <div class="flex flex-wrap">
                    <div class="m1" ng-repeat="image in category.images">
                        <a href="{{ image.full }}" target="_blank"><img ng-src="{{ image.thumb }}"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>