<div class="min-vh bg-cover bg-center py4 px1" style="background-image: url('img/chairs-outside.jpg')">
    
    <div class="sm-col-11 md-col-10 lg-col-8 mx-auto my4 rounded bg-dark-h px3 py2 center" style="max-width: 52em">
        <img src="./img/leafplate.svg" style="width: 20em; max-width: 100%" />
        <h2 class="h1 caps">Welcome to RNE Furniture</h2>
        <h3 class="caps">The Rustic Furniture Company featuring the work of Derek Skapars</h3>
        <p>At RNE Furniture, we have coffee tables, dining tables, half-moon tables, end tables, night stands, walking sticks and much more. We also have a long list of custom orders we've made upon request, which you can view in our product gallery. Each piece is designed by Derek Skapars himself and carries the company's signature spiral, giving each piece a character not found in any other furniture.</p>
        <p>We here at Rustic New England Furniture take enormous pride in creating our products. Custom orders are always welcome and constantly in production and in-stock items are always being sold or replicated, so we would be happy to show you or make you something you really like! We even accept PayPal to make owning a piece of our funiture as easy as possible.</p>
    </div>

</div>
