@import url("https://fonts.googleapis.com/css?family=Lora:400,400i");
:root {
  font-size: 16px;
  line-height: 1.25; }
  @media (min-width: 768px) {
    :root {
      line-height: 1.375; } }
  @media (min-width: 1200px) {
    :root {
      font-size: 18px; } }

body {
  background-color: #170908;
  color: #F5E4D0;
  font-family: "Lora", "Georgia", "serif", serif; }
